@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

body {
  text-align: center;
  background-color: #e2e2e2;
  font-family: 'Sora';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/////////////////////////////////////
///// NAV /////
/////////////////////////////////////
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  font-family: 'Sen';
  width: 100%;
  background-color: #b43d37;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
  color: white;
  transition-duration: 0.3s;

  a {
    padding: 0.5em;
  }

  a:hover {
    color: #ffd3c8;
    background-color: #832d28;
    border-radius: 5px;
  }

}

#navlogout {
  font-family: 'Sen';
  font-size: 15px;
  padding: 0.5em;
  color: white;
  background-color: #b43d37;
  border: none;
  cursor: pointer;
}

#navlogout:hover {
  color: #ffd3c8;
  background-color: #832d28;
  border-radius: 5px;
}

#title {
  font-size: 2em;
  padding: 0;
  margin: 2vh 0 2vh 0;
}

nav:hover {
  color: #ec9782;
}

.bm-burger-button {
  position: relative;
  padding: 0 1em 0 1em;
}

.bm-burger-button:hover {
  color: #ffd3c8;
  background-color: #832d28;
  border-radius: 5px;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bm-menu {
  margin-top: -5.8vh;
}

.bm-overlay {
  margin-left: -67%;
  margin-top: -4px;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
/////////////////////////////////////
/////////////////////////////////////


/////////////////////////////////////
///// PROFILE
/////////////////////////////////////
.allEntries {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color:#ec9782;
}

.newRatingB {
  border: none;
  padding: 1vw;
  font-family: 'Sen';
  background-color: #dccfad;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 10px;
  margin: 2vh 0 2vh 0;
}

.newRatingB:hover {
  background-color: #f6522d;
  color: white;
}

table {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  width: 9vw;
}

#th-span {
  text-align: center;
  width: 95.5%;
  font-size: 30px;
  font-weight: bolder;
  background-color: #481f2f;
  color: white;
  padding: 1vw;
  margin-top: 3px;
}

th {
  color: white;
  background-color: #481f2f;
}

.th-image {
  width: 15vw;
}

.th-title {
  width: 15vw;
}

.th-score {
  width: 5vw;
}

.th-genre {
  width: 15vw;
}

.td-click {
  transition: transform .2s;
  transition: ease-in-out 0.1s;
  font-size: inherit;
}

.td-click:hover {
  transform: scale(1.1);
  font-size: 20px;
}
/////////////////////////////////////
/////////////////////////////////////

/////////////////////////////////////
///// HOME PAGE
/////////////////////////////////////
#homeHeader {
  background-color: white;
  width: 73vw;
  padding: 2vw;
  margin: auto;
}

.homePage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 11vw 0 11vw;
  background-color: white;
}

.homeSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homeUsers {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 3vw 3vw 15vh 3vw;
  margin: 4vh 2vw 0 0;
  background-color: #ec9782;
  border-radius: 25px;
}

.homeUsers2 {
  display: flex;
  flex-direction: column;
}

.gameHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  border: 1px solid #ec9782;
  font-size: 15px;

  p {
    width: 8vw;
    margin: 3px;
  }

  a {
    color: gray;
    font-size: 12px;
  }
}

.homeUSN {
  transition-duration: 0.3s;
}

.homeUSN:hover {
  color: white;
}

//////////////////////////
///// FORMS
/////////////////////////
form {
  margin: 5vh 0 10px 0;
  border: 1px solid black;
  input {
    padding: 10px;
    font-size: 1.1em;
    margin: 2vw;
    color: #481f2f;
    width: 20vw;
    background-color: #e2e2e2;

    border: none;
    border-bottom: 2px solid #481f2f;
  }

  select {
    width: 5vw;
    text-align: center;
    margin: 2vw auto;
  }
}

#formSubmit {
  margin: auto;
}

textarea:focus, input:focus{
  outline: none;
}